.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.result-container {
  margin: 0 20px;
}

.result-text {
  width: 500px;
  height: 200px;
}
