.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
  padding: 5px;
}

.container {
  margin: 0 20px;
}

.result-text {
  width: 1200px;
  height: 160px;
}

.columns {
  display: flex;
}

.columns > * {
  flex: 1;
  border: #ccc 1px solid;
  margin: 10px;
  padding: 10px 40px;
}

.columns > .bigColumn {
  flex: 2;
}

.import-text {
  width: 1200px;
  height: 480px;
}
